body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 414px;
  width: 100%;
  margin: auto;
}

#camera {
  /* transform: translatex(-33%); */
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (device-height: 740px) {
  #camera {
    /* width: 100%; */
    /* transform: translate(-27%); */
  }
}

video {
  max-width: 100%;
  height: auto;
}

.hiddenVideo {
  height: 100%;
  position: absolute;
  top: 100vh;
}
